{% extends 'layout.html' %}

{% block content %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/aplic/agenda.css') }}">

<div class="container-fluid full-height py-3">
    <h1 class="text-center mb-4">Agenda Mensual</h1>

    <!-- Controles -->
    <div class="d-flex flex-wrap gap-2 justify-content-between mb-3 controls-responsive">
      <select id="mes" class="form-select w-auto">
        {% for m in range(1,13) %}
        <option value="{{m}}" {% if m == mes %}selected{% endif %}>{{m}}</option>
        {% endfor %}
      </select>
      <select id="año" class="form-select w-auto">
        {% for a in range(2020, 2031) %}
        <option value="{{a}}" {% if a == año %}selected{% endif %}>{{a}}</option>
        {% endfor %}
      </select>
      <button class="btn btn-agregar" onclick="abrirModal()">Agregar Evento</button>
    </div>

    <!-- Calendario -->
    <table class="table table-bordered text-white">
      <thead>
        <tr>
          <th>Lun</th><th>Mar</th><th>Mié</th><th>Jue</th><th>Vie</th><th>Sáb</th><th>Dom</th>
        </tr>
      </thead>
      <tbody id="calendario"></tbody>
    </table>
  </div>


{% include 'Aplic/agenda/FrontEnd/evento.html' %}

{% endblock %}

{% block scripts %}
<script src="{{ url_for('static', filename='js/apps/agenda.js') }}"></script>
{% endblock %}
