{#
    templates/partials/ui/imageModal.html

    Modal para ampliar imágenes.
    IDs esperados por static/js/utils/image.js:
    - #modalImagenAmpliada
    - #imagenAmpliada
    - #tituloImagenAmpliada
#}

<div class="modal fade" id="modalImagenAmpliada" tabindex="-1" aria-labelledby="tituloImagenAmpliada" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content bg-dark">
            <div class="modal-header border-0">
                <h6 class="modal-title text-white" id="tituloImagenAmpliada">
                    Imagen
                </h6>

                <button
                    type="button"
                    class="btn-close btn-close-white"
                    data-bs-dismiss="modal"
                    aria-label="Cerrar">
                </button>
            </div>

            <div class="modal-body text-center">
                <img
                    id="imagenAmpliada"
                    src=""
                    class="img-fluid rounded"
                    style="max-height:60vh;"
                    alt="Imagen ampliada">
            </div>
        </div>
    </div>
</div>