{% extends 'layout.html' %}

{% block head %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/apps/modelos_3d.css') }}">
{% endblock %}

{% block content %}
<div id="loader">
    <div class="spinner"></div>
    <div id="loaderText">Cargando modelo 3D... 0%</div>
    <div id="progressBarContainer">
        <div id="progressBar"></div>
    </div>
</div>

<div class="container-fluid mt-4 px-0">
    <div class="row g-2 mb-4">
        <h3 class="col-md-2">Modelos 3D</h3>
        <div class="col-md-3">
            <select id="modeloSelect" class="form-select">
                <option value="">-- Selecciona un modelo --</option>
                {% for archivo in archivos %}
                <option value="{{ archivo }}">{{ archivo }}</option>
                {% endfor %}
            </select>
        </div>
        <div class="col-md-1">
            <button type="button" class="btn btn-agregar" onclick="vistaFrontal()">Frontal</button>
        </div>
        <div class="col-md-1">
            <button type="button" class="btn btn-agregar" onclick="vistaLateral()">Lateral</button>
        </div>
        <div class="col-md-1">
            <button type="button" class="btn btn-agregar" onclick="vistaSuperior()">Superior</button>
        </div>
        <div class="col-md-1">
            <button type="button" class="btn btn-agregar" onclick="vistaDiagonal()">Diagonal</button>
        </div>
    </div>

    <div id="container"></div>
{% include "Aplic/modelos3d/FrontEnd/component/edit.html" %}

{% endblock %}

{% block scripts %}
<script src="https://cdn.jsdelivr.net/npm/three@0.143.0/build/three.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/three@0.143.0/examples/js/controls/OrbitControls.js"></script>
<script src="https://cdn.jsdelivr.net/npm/three@0.143.0/examples/js/loaders/GLTFLoader.js"></script>
<script src="{{ url_for('static', filename='js/apps/modelos_3d.js') }}"></script>
{% endblock %}