{% extends 'layout.html' %}
{% block head %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/apps/detector_de_rostros.css') }}">
{% endblock %}
{% block content %}


<div class="canvas-container">
    <h3 class="titulo-simulacion">Simulación de Detección Facial</h3>
    <div id="fpsCounter" class="fps-counter"></div>

    <canvas id="outputCanvas"></canvas>
</div>
<button id="captureBtn" class="btn btn-success mb-3">Capturar Rostro</button>
<video hidden id="inputVideo" autoplay muted></video>

{% endblock %}

{% block scripts %}
<!-- MediaPipe y dependencias -->
<script src="https://cdn.jsdelivr.net/npm/@mediapipe/face_mesh/face_mesh.js"></script>
<script src="https://cdn.jsdelivr.net/npm/@mediapipe/drawing_utils/drawing_utils.js"></script>
<script src="https://cdn.jsdelivr.net/npm/@mediapipe/camera_utils/camera_utils.js"></script>
<script src="{{ url_for('static', filename='js/apps/detector_de_rostros.js') }}"></script>
{% endblock %}