{% extends 'layout.html' %}
{% block head %}
<link rel="stylesheet" href="{{ url_for('gestion_de_bloqueos.static', filename='css/gestion_de_bloqueos.css') }}">
{% endblock %}
{% block content %}
<h2 style="color:white; text-align:center; padding:10px;">Diagrama de Interruptores</h2>
<svg id="diagrama"></svg>
{% include 'Aplic/gestiondebloqueos/FrontEnd/nodo.html' %}
<script>
    window.interruptores = {{ interruptores | tojson | safe }};
    window.rootId = {{ root_id | tojson | safe }};
</script>
{% endblock %}
{% block scripts %}
<script src="{{ url_for('gestion_de_bloqueos.static', filename='js/gestion_de_bloqueos.js') }}"></script>
{% endblock %}