{% extends 'layout.html' %}
{% block head %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/apps/gestion_aplicaciones.css') }}">
{% endblock %}
{% block content %}
<h3 class="mb-3">Gestión de Aplicaciones</h3>
<div class="bg-form">
    <form id="formulario" onsubmit="return false;">
        <div class="mb-3 input-with-emoji">
            <span class="input-emoji">📛</span>
            <input type="text" class="form-control ps-5" id="nombre" placeholder="Nombre de la aplicación" />
        </div>

        <button type="button" class="btn btn-agregar btn-crear-app" id="btnAgregar" onclick="crear()">
            Agregar
        </button>
    </form>
</div>

{% endblock %}

{% block scripts %}
<script src="{{ url_for('static', filename='js/apps/gestion_aplicaciones.js') }}"></script>
{% endblock %}
