<button class="btn btn-agregar m-1" data-bs-toggle="modal" data-bs-target="#agregarModal" onclick="mostrarFormulario(null)">Agregar Pago</button>

<div class="modal fade modal-custom-dark" id="agregarModal" tabindex="-1" aria-labelledby="agregarModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="agregarModalLabel">Agregar Nuevo Pago</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Cerrar"></button>
            </div>
            <div class="modal-body">
                <form id="formulario">
                    {% include "Aplic/crearrubros/FrontEnd/component/selectRubros.html" %}
                    <div id="nivelesContainer" class="mb-3"></div>
                    <input type="hidden" id="pagoId">
                    
                    <div class="mb-3 input-with-emoji">
                        <label for="descripcion" class="form-label">Descripción</label>
                        <span class="input-emoji">📝</span>
                        <input type="text" class="form-control ps-5" id="descripcion" placeholder="Descripción">
                    </div>
                    
                    <div class="mb-3 input-with-emoji">
                        <label for="importe" class="form-label">Importe</label>
                        <span class="input-emoji">💲</span>
                        <input type="number" class="form-control ps-5" id="importe" placeholder="Importe">
                    </div>
                    
                    <div class="mb-3 input-with-emoji">
                        <label for="tipo" class="form-label">Tipo</label>
                        <span class="input-emoji">📌</span>
                        <select class="form-control ps-5" id="tipo">
                            <option value="único">Único</option>
                            <option value="cuotas">Cuotas</option>
                        </select>
                    </div>
                    
                    <div class="mb-3 input-with-emoji">
                        <label for="cuotas" class="form-label">Cuotas</label>
                        <span class="input-emoji">#️⃣</span>
                        <input type="number" class="form-control ps-5" id="cuotas" placeholder="Cuotas">
                    </div>
                    
                    <div class="mb-3 input-with-emoji">
                        <label for="vencimiento" class="form-label">Vencimiento</label>
                        <span class="input-emoji">📅</span>
                        <input type="date" class="form-control ps-5" id="vencimiento" placeholder="Vencimiento">
                    </div>
                    
                    <div class="button-group d-flex gap-2 justify-content-end mt-4">
                        <button type="button" class="btn btn-cancelar" data-bs-dismiss="modal" onclick="cancelar()">Cancelar</button>
                        <button type="button" class="btn btn-agregar" onclick="guardarPago()">Guardar</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
<script src="/static/js/apps/newPagos.js"></script>