/* static/style.css */

@import url('css/base/variables.css');
@import url('css/base/components.css');
@import url('css/base/buttons.css');
@import url('css/base/navbar.css');
@import url('css/base/tabs.css');
@import url('css/base/tables.css');
@import url('css/base/dropdowns.css');
@import url('css/base/pagination.css');
@import url('css/base/modals.css');
@import url('css/base/alerts.css');
@import url('css/base/loaders.css');
@import url('css/base/mobile.css');
@import url('css/base/list_events.css');
@import url('css/base/repuestos.css');
@import url('css/base/arbol_crud.css');
@import url('css/base/image_uploader.css');
@import url('css/base/login_modal.css');

/* Fondo general */
body {
    background-color: #3e2d59;
    color: white;
    overflow-x: hidden;
    font-family: 'Inter', sans-serif;
}

/* Contenedor de imagen principal */
.image-container {
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: left;
    align-items: center;
    overflow: hidden;
}

.imageFactory {
    padding: 20px;
    width: 120%;
    object-fit: cover;
    display: block;
    transform: translateY(-20%);
}