{% extends 'layout.html' %}
{% block content %}
<h3 class="mb-3">Instalaciones</h3>

<div id="tree-container" class="tree"></div>

<link rel="stylesheet" href="/static/css/apps/instalaciones.css">

<svg id="svg-lines" style="position:absolute; top:0; left:0; pointer-events:none; overflow: visible; z-index:0;"></svg>

{% include 'Aplic/instalaciones/FrontEnd/equipos.html' %}

{% endblock %}

{% block scripts %}
<script src="{{ url_for('static', filename='js/apps/instalaciones.js') }}"></script>
{% endblock %}