<!-- templates/Aplic/inventario/FrontEnd/inventario.html -->
{% extends 'layout.html' %}
{% block head %}
<link rel="stylesheet" href="{{ url_for('indexinventario.static', filename='css/inventario.css') }}">
{% endblock %}
{% block content %}
<div class="inventario-container">
    <header class="app-header">
        <h3>📦 Inventario de Almacenes</h3>
    </header>

    {% from 'Aplic/inventario/FrontEnd/component/_tabs_recursivos.html' import render_tabs %}
    {{ render_tabs(almacenes, repuestos_por_equipo) }}
</div>
{% endblock %}
{% block scripts %}
<script src="{{ url_for('indexinventario.static', filename='js/inventario.js') }}"></script>
{% endblock %}