html, body {
    height: 100%;
    margin: 0;
    padding: 0;
    background-color: #3e2d59;
}
.full-height {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}
.grafico-container {
    width: 40%;
    max-width: 100%;
    height: auto;
}
#graficoTorta {
    width: 100% !important;
    height: auto !important;
}
